# New Relic ingest license key (DO NOT COMMIT real value)
NEW_RELIC_LICENSE_KEY=YOUR_NEW_RELIC_LICENSE_KEY

# New Relic OTLP endpoint (EU example)
OTEL_EXPORTER_OTLP_ENDPOINT=https://otlp.eu01.nr-data.net

# OTLP protocol
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
